<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div class="container" id="recipes">
  <div class="row"><% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %></div>
</div>

